
*{
    margin: 0;
    padding:0;
    
}



nav {
    background-color: black;
color: white;
height: 55px;
font-size: 20px;
display: flex;
align-items: center;
padding: 0 20px;
font-family:inherit ;
}

nav ul{
list-style-type: none;
}
.game{

   
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
}
.box{
    border: 1px solid black;
    font-size: 8vw;
   cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
}
.box:hover{
    background-color: rgb(217, 193, 240);
}
.info{
    padding: 0 34px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
